<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'base/components/head.html' %}
    <title>kaftClone</title>
</head>
<body>
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}
    {% include 'base/components/nav.html' %}

    {% block content %}
    {% endblock %}

    {% include 'base/components/footer.html' %}
    {% include 'base/components/footer_scripts.html' %}

    {% block script %}
    {% endblock %}
</body>
</html>